.btnclass{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap:1rem;
    
}
.maincontainer{
    width:35rem;
    height:35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    width:15rem;
    height:2rem;
    border-radius: 5rem;
    background-color: white;
    border:1px solid lightgray;
    font-size: 14px;
}
.btn:hover{
    background-color:lightgray;
    cursor:pointer;
}
.nxtbtn{
    display:flex;
    justify-content: center;
    align-items: center;
    width:15rem;
    height:3rem;
    color:white;
    border-radius: 5rem;
    text-decoration: none;
    background-color: black;
    font-size: 14px;
}
.nxtbtn:hover{
    cursor:pointer;
}
.inputs{
    width:17.5rem;
    height:3.5rem;
}
.logbtn{
    margin-top: 13rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width:18rem;
    height:2.4rem;
    border-radius: 5rem;
    background-color: white;
    border:1px solid lightgray;
    font-size: 14px;

}
.logbtn:hover{
    background-color:lightgray;
    cursor:pointer;
}
@media only screen and  (max-width:660px) {
    .maincontainer{
        width:auto
    }
}
