.SearchBar{
    width: 23rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 25px;
    background-color:#EFF3F4;
    border:2px solid white;
    position:  relative;
   
}
.SearchIcon{
position: absolute;
margin-left: 2rem;
margin-top: 1.6rem;
z-index: 1;
}
